@theme {
  --color-primary-50: #E6F0FA;
  --color-primary-100: #CCE0F5;
  --color-primary-200: #99C2EB;
  --color-primary-300: #66A3E0;
  --color-primary-400: #3385D6;
  --color-primary-500: #0055B8;
  --color-primary-600: #003A7E;
  --color-primary-700: #002C5F;
  --color-primary-800: #001D3F;
  --color-primary-900: #000F20;
} 